<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 search">
            <!--Sidebar content-->
            <span>Search by repository name</span>
            <input type="search" ng-model="searchText" ng-keypress="$ctrl.search(searchText, $event)" placeholder="repository name" />
            <button ng-click="$ctrl.search(searchText)">Search</button>
        </div>
        <div class="col-md-9 result">
            <!--Body content-->
            <table>
                <tr>
                    <th>Repository name</th>
                    <th>Stargazers count</th>
                    <th>Forks count</th>
                    <th>Open issues count</th>
                </tr>
                <tr ng-if="$ctrl.repositories.length === 0">
                    <td colspan="4" class="t-none">No results</td>
                </tr>
                <tr ng-repeat="repo in $ctrl.repositories | orderBy:$ctrl.orderProp">
                    <td class="t-name">
                        <strong>{{ repo.full_name }}</strong>
                        <br />
                        <a href="{{ repo.html_url }}" target="_blank">Open repository</a>
                    </td>
                    <td class="t-num">
                        {{ repo.stargazers_count }}
                    </td>
                    <td class="t-num">
                        {{ repo.forks_count }}
                    </td>
                    <td class="t-link">
                        {{ repo.open_issues_count }}
                        <a ng-if="repo.open_issues_count > 0" href="#!/repositories/issues/{{ repo.full_name }}">List issues</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
