$breakpoint: 768px;

$desktop-width: 1024px;

$theme-color: #000000;
$theme-bg-color: #ffffff;

$desktop-menu-color: #000000;
$mobile-menu-color: #ffffff;
$desktop-menu-bg-color: #eeeeee;
$mobile-menu-bg-color: #175482;
$menu-active-color: #0d85f4;
$menu-shadow-color: #888888;
$menu-open-color: #ffffff;
$menu-close-color: #ffffff;

$content-gradient-color1: #d1d1d1;
$content-gradient-color2: #fafafa;
$content-banner-shadow-color: #888888;
$content-article-bg-color: #ffffff;
$content-article-shadow-color: #aaaaaa;
$content-text-color: #555555;

$footer-shadow-color: #aaaaaa;
$footer-link-color: #000000;
